/*Style Sheet for PowerViz2 main application page (main.html)*/

body {
	background-color:black;
}

@font-face {
    font-family: 'humor_sansregular';
    src: url('Fonts/humor-sans-1.0-webfont.eot');
    src: url('Fonts/humor-sans-1.0-webfont.eot?#iefix') format('embedded-opentype'),
    url('Fonts/humor-sans-1.0-webfont.woff') format('woff'),
    url('Fonts/humor-sans-1.0-webfont.ttf') format('truetype'),
    url('Fonts/humor-sans-1.0-webfont.svg#humor_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*background for the paper - is black so it will darken when we set opacity*/
.paper {
	z-index: 0;
	position:fixed;
	left:0px;
	top:0px;
    display: inline-block;
}

.paper img {
    display: block;

}

/* backgrounds */
.multibackground {
    /* size matters */
    -webkit-background-size: 160% 130%;
    -moz-background-size: 160% 130%;
    -o-background-size: 160% 130%;
    background-size: 160% 130%;
}


.time-element{

    font-family: 'humor_sansregular';
    font-size: 18;
}

.bar-element {

    font-family: 'humor_sansregular';
    font-size: 150%;
    display: block;
    /*text-indent: -9999px;*/
    width: 130%;
    height: 100%;
    background: url(Images/back_left.svg);
    background-size: 100% 100%;

}

.text-bar-element{
    font-family: 'humor_sansregular';


}

.text-element{
    font-family: 'humor_sansregular';


}

.left-arrow{

    position:fixed; left:0px; top:50%; z-index:100

}

.right-arrow{

    position:fixed; right:0px; top:50%; z-index:100
}

.vertical-bar{

    top:15%;
    left:50%;
    position: absolute;

}

/*Style for the top bar. Should always be fixed.*/
.top-bar {
	width:100%;
	height:13%;
	/*background-color:white;*/
	position:absolute;
	top:0px;
	left:0px;
	z-index:50;
    outline: 0;



}


/* Swipe required styles */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width:100%;
    height:87%;
	float:left;
	left:0px;
	bottom: 0%;
}
.swipe-wrap {
	overflow: hidden;
	position: inherit;
}

.swipe-box {
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
	position:relative;
    height:100%;
	z-index:0;
}

/*------------------------------*/

/*Use this class to disable selection. 
Usefull for avoiding the accidental selection of text on screen.*/
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/*Defines clock elements*/
.clockfield {
    width: 37px;
    height: 37px;
    position: absolute;
    /*background-image:url('Images/watchTest.svg');*/
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}




